* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cormorant Garamond", sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}
header {
  background-color: #000000;
  padding: 10px 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;    
}
nav img { 
  max-width: auto; 
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem;
}
nav .nav-btn {
  background-color: rgba(250, 205, 4, 0.952) ;
  color: #000000;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.hero {
  height: 100vh;
  background-image: url("slide.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.hero-content {
  color: white;
  max-width: 500px;
}
.hero-content h3 {
  color: #f7b733;
  font-size: 28px;
}
.hero-content h1 {
  font-size: 65px;
  margin: 20px 0;
}
.hero-content span { 
  color: #f7b733;
}
.hero-content p{
  font-size: 20px;
  line-height: 1.6;
}
.buttons {
  margin-top: 30px;
}
.buttons button {
  padding: 15px 30px;
  margin-right: 15px;
  border-radius: 30px;
  border: none;
}
